.nav {
    a span {
        color: #4aaff9;
    }
    a span.current {
        color: #ff288d;
    }
}

.pacmantop{
    background-color: #ff288d;
    height:50px;
    width:100px;
    border-radius:50px 50px 0 0;
    animation: spin1 0.5s infinite linear;
  }
  
  .pacmanbottom{
  background-color: #ff288d;
    height:50px;
    width:100px;
    border-radius:0 0 50px 50px;
    animation: spin2 0.5s infinite linear;
  }
  
  /* Animation*/
  
  @keyframes spin1 {
      0%  {transform: rotate(0deg);}
      50%{transform: rotate(-35deg);}
    
  }
  @keyframes spin2 {
      0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}	
  }
  
  @-moz-keyframes spin1 {
      0%  {transform: rotate(0deg);}
      50%{transform: rotate(-35deg);}
    
  }
  @-moz-keyframes spin2 {
      0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}	
  }
  @-webkit-keyframes spin1 {
      0%  {transform: rotate(0deg);}
      50%{transform: rotate(-35deg);}
    
  }
  @-webkit-keyframes spin2 {
      0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}
  }
  
  