.animation {
    height: 500px;
}
.description {
    max-width: 800px;
}
.bg {
  position: absolute;
}
.line {
  position: absolute;
  opacity: 0.15;
  left:-206px;
  top: -100px;
}
.triangle {
  position: absolute;
  bottom: -50px;
  right: -40px;
}
@keyframes run {
    0% {
      left: 0;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 0;    
    }
  }
  @keyframes run2 {
    0% {
      top: 0;
    }
    50% {
      top: 100%;
    }
    100% {
      top: 0;    
    }
  }
  .lines {
    position: absolute;
    top: -120px;
    z-index: 0;
    right: 100px;
    height: 600px;
  }

.heroimg {
    position: relative;
}

.meh {
    position: relative;
    display: block;
    border-radius: 50%;
}

.button {
  background: #fff;
  height: 56px;
  font-size: 24px;
  color: rgb(18, 18, 18);
  font-weight: 700;
  padding: 0 24px;
  cursor: pointer;
}

.twocolbg {
  padding-top: 100px;
  background: rgb(18,18,18);
  background: linear-gradient(115deg, rgb(18,18,18) 55%, rgb(25,25,25) 70%, rgb(50,50,50) 100%);
}

.twocol {
    max-width: 1200px;
    display: flex;
    height: calc( 100vh - 300px );
    margin: 0 auto;
    align-items: center;
    padding: 300px 50px 400px;
    .left, .right {
        flex:1 1 auto; width:40%;
    }
    .green {
        color: green;
    }
    h1 {
        margin-bottom: 24px;
        color: #fff;
    }
    p {
        margin-bottom: 24px;
    }
    .name {
      font-weight: 700;
      color: #fff;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    ul {
        list-style: outside;
        display:flex; flex-wrap:wrap; flex-direction:row; 
    }
    li {
        flex:1 1 auto; width:40%;
        z-index: 4;
        a {
            color: red;
            text-decoration: underline;
            font-size: 1.2rem;
        }
    }
}

.threecolbg {
  background: rgb(18,18,18);
  width: 100vw;
}

.threecol {
  display: flex;
  position: relative;
  top: -50px;
  max-width: 1200px;
  margin: 0 auto;
  h2 {
    font-size: 28px;
    line-height: 28px;
    margin-top: 48px;
  }
  p {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }
  .left {
    flex:1 1 auto; width:33%;
  }
  .middle {
    flex:1 1 auto; width:33%;
  }
  .right {
    flex:1 1 auto; width:33%;
  }
  .left, .middle, .right {
    background: rgb(25,25,25);
    color: rgb(248,248,248);
    margin: 0 30px;
    padding: 50px 40px;
  }
  .icon {
    width: 64px;
    height: 64px;
    border: 1px solid #dedede;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    .left, .middle, .right {
      margin: 0 20px;
      width: calc(100% - 40px);
    }
  }
}

@media screen and (max-width: 768px) {
    .twocol {
        flex-direction: column;
        height: auto;
        margin: 0 auto;
        display: block;
        padding: 0 20px;
        h1 {
            font-size: 3.2rem;
            line-height: 3.3rem;
        }
        .name {
            font-size: 1rem;
            line-height: 1rem;
        }
        .left, .right {
            margin: 0 20px;
            width: 100%;
        }
        .button {
          height: 42px;
          font-size: 18px;
          color: rgb(18, 18, 18);
          font-weight: 700;
          padding: 0 18px;   
        }
        .meh {
          width: 400px;
          height: 400px;
        }
    }
    .triangle { display: none;}
}
