.animation {
    height: 500px;
}

.description {
    max-width: 800px;


}

.alert {
    background: yellow;
    width: 100%;
    text-align: center;
    margin: 20px auto 40px;
    padding: 20px;
}

.twocol {
    display: flex;
    height: calc( 100vh - 300px );
    align-items: center;
    .left, .right {
        flex:1 1 auto; width:40%;
    }
    .green {
        color: green;
    }
    h1 {
        margin-bottom: 24px;
    }
    p {
        margin-bottom: 24px;
    }
    ul {
        list-style: outside;
        display:flex; flex-wrap:wrap; flex-direction:row; 
    }
    li {
        flex:1 1 auto; width:40%;
        a {
            color: blue;
            text-decoration: underline;
            font-size: 1.2rem;
        }
    }
}

// .main {
//     max-width: 1200px;
//     margin: 0 auto;
// }