.post {
    margin-bottom: 150px;
    .topic {
        margin-top: 120px;
        color: rgb(198,198,198);
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
    }
    h1 {
        margin-top: 32px;
        margin-bottom: 20px;
        font-size: 80px;
        line-height: 80px;
        color: rgb(248,248,248);
        text-align: center;
        padding: 0 30px 0;
    }
    .date {
        color: rgb(83,83,83);
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
    .postimg {
        margin: 50px auto;
        display: block;
    }
    .articlecontent {
        p {

            color: rgb(198,198,198);
            padding: 0 30px;
            font-size: 28px;
            line-height: 42px;
            max-width: 1000px;
            margin: 0 auto 24px;
        }
        pre {
            background-color: rgb(248,248,248);
            padding: 20px;
            border-radius: 10px;
            margin: 0 auto 24px;
            max-width: 1000px;
            overflow-x: auto;
            code {
                color: rgb(83,83,83);
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}