.resume {
    .additional li {
        padding-left: 16px;
    }
    padding: 130px 0 100px;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    // background: rgb(19,19,19);
    color:#fff;
    .square {
        margin-bottom: 20px;
        opacity: 50%;
    }
    h1 {
        font-size: 56px;
        line-height: 56px;
        padding-left: 16px;
        margin-top: 50px;
        @media screen and (max-width: 768px) {
                font-size: 36px;
                line-height: 36px;
        }
    }
    h3, p, li {
        font-size: 1.2rem;
        margin-bottom: 12px;
    }
    h3 {
        font-size: 20px;
        font-weight: 400;
        color: rgb(83,83,83);
        padding-left: 16px;
    }
    ul ul {
        list-style: none;
        li { position: relative; padding-left: 16px; 
            // padding-right: 50px;
        }
        li::before {
            content: "+";
            position: absolute;
            left: -15px;
        }
    }
    h3, h4 {
        margin-top: 24px;
    }
    a {
        color: #fff;
        text-decoration: underline;
    }
    .job {
        display: flex;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 0 30px;
        }
        .left {
            width: 300px;
            margin-right: 50px;
            padding-top: 10px;
            @media screen and (max-width: 768px) {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 0;
                font-size: 18px;
                line-height: 24px;
                color: rgb(198,198,198);
                text-transform: uppercase;
                letter-spacing: 1px;
                text-align: right;
                padding-left: 16px;
                @media screen and (max-width: 768px) {
                    text-align: left;
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            
        }
        .right {
            .headingwrap {
                display: flex;
                align-items: center;
            }
            flex: 1;
            p {
                font-size: 28px;
                line-height: 42px;
                padding-left: 16px;
                @media screen and (max-width: 768px) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            ul {
                max-width: 700px;
                
                li {
                    font-size: 28px;
                    line-height: 42px;
                    margin-bottom: 18px;
                    @media screen and (max-width: 768px) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}
